@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

/* css for main wrapper class */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* CSS for navbar in wrapper */
#navbar{
	filter:none;
}

#searchbar{
	width:75%;
	border:none;
}



/* CSS for body and content in wrapper */
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

#content{
	background-color:#ecf0f5;
	filter: none;
	overflow: auto;
	font-family: 'Open Sans', sans-serif;
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

/*css for sidebars*/

#sidebar {
    min-width: 250px;
    filter: none;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 1024px) {
  #sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -200px;
}
	
}

@media (max-width: 768px) {
    
    #sidebar {
        margin-left: -200px;
    }
    
    #sidebar.active {
        margin-left: 0;
        min-width: 75px;
        max-width: 75px;
    }
    
    #searchbar{
     display:none; 
    visibility:hidden;
    }
    
    #newTitle input{
      margin:0;
      width:100%;
    }
    /* #newText{
      margin-left:5%;
      width:93%;
    }  */

}

a,a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar{
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: white;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/* for the delete image */

.delete {
	background: url("../images/deleteicon.png") no-repeat;
    height: 20px;
    width:20px;
    background-position: center; 
    background-size: 20px 20px;
    border:none;
}


/* CSS style for notes div */

#divrow{
	margin-right:0px;
}
.notesdiv{
	background-color:white;
	border-radius:15px;
}
.notesdiv strong{
	font-family: 'PT Sans Caption', sans-serif;
}

/* #archiveimg{
	
} */

.contents{
  word-wrap: break-word;
  overflow: hidden; 
  max-height: 3.6em; /* (Number of lines you want visible) * (line-height) */
 /*  max-width:15em; */
  line-height: 1.2em;
 /*  text-align:justify; */
} 


/*CSS styles for overlap*/

#overlap{
	z-index:500;
 	position:fixed;
 	margin-top:20%;
    margin-left: 25%;
    display:none; 
    visibility:hidden;
   /*  position:sticky; */
  /*   width:75%; */
 	/* margin-left:auto; */
	/* left:0; */
	/* right:0; */
	/* margin-left:auto;
	margin-right:auto; */
/* 	background-color:red; */
}
#editTitle{
	border-radius:8px;
}

#editText{
	height:190px;
	border-radius:8px;
}
/* #overlap form{
	position:sticky;
} */

