<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" th:href="@{../css/archive.css}">
<script src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
<script type="text/javascript" th:src="@{../Javascript/archive.js}"></script>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
    integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
    crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
    integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
    crossorigin="anonymous"></script>


<title>Archive</title>
</head>

<body>
<!-- Wrapper class to encapsulte everything -->

	<div class="wrapper">
	
	<!-- Section for sidebar -->
	    <nav id="sidebar">
	        <ul class="list-unstyled components pt-4 mt-5">
	            <li>
	                <a href="#" th:href="@{/list}"data-toggle="collapse" aria-expanded="false" class="sidebut">Home</a>
	            <li>
	
	            <li>
	                <a href="#">Reminders</a>
	            </li>
	
	            <li>
	                <a href="#" data-toggle="collapse" aria-expanded="false">Edit Labels</a>
	            </li>
	
	            <li class="active">
	                <a href="#" th:href="@{/archive/list}" data-toggle="collapse" aria-expanded="false">Archive</a>
	            </li>
	        </ul>
	
	    </nav>
	    
	    <!--Section For other content-->
	
	    <div id="content" class="container-fluid p-0">
	    
	    <!-- Navbar section -->
	        <nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow">
	            <div class="container-fluid">
	                <button type="button" class="btn btn-outline-secondary" id="sidebarCollapse">
	                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                     <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                    </svg>
	                </button>
	                   
	               <div class="row w-50">
	               <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" fill="currentColor" id="searchicon" class="col-md-1 bi bi-search mt-2 p-0" viewBox="0 0 16 16">
  					<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
					</svg>
	                <input id="searchbar" type="text" class="col form-control" placeholder="Search" aria-label="Username"
	                       aria-describedby="basic-addon1">
	                 </div>
	             
	
	              <!--   <button type="button" class="btn btn-warning mx-2">Dark</button> -->
	                <a href="#" th:href="@{/login?logout}" class="btn btn-danger mx-2">Logout</a>
	                
	            </div>
	        </nav>
	           <!-- Note cards -->
	
				<!-- <div class="row mb-2"> -->
				
				
			   <div id="divrow" class="row mt-5 pt-4 ms-4">
			    <div class="col-md-3" th:each="todo:${newTodo}">
				<div class="notesdiv row g-0 border overflow-hidden flex-md-row mb-4 shadow-md h-md-250 position-relative">
				
				    <div th:id="card+${todo.id}" class="tododiv col p-3 d-flex flex-column position-static">
				     <input th:id="card+${todo.id}+id" type="hidden" th:value="${todo.id}">
				      <strong th:id="card+${todo.id}+title"  class="contents d-inline-block mb-2 h4" th:text="${todo.title}?:''" ></strong>
				        <p th:id="card+${todo.id}+text"  class="contents card-text mb-auto mt-2" th:text="${todo.text}?:''" ></p>
				        <hr>
				       <span>
				       <a href="#" th:href="@{/archive/delete}+'/'+'?id='+${todo.id}" type="button" class="delete btn-image white-text" mdbBtn mdbWavesEffect></a>
				       </span>
				    </div>
				   
				 </div>
				  
				 </div>
				  
		    </div>
					
		</div>
		
		<div id="overlap" class="d-flex flex-column w-50 h-25">
		 
	    <form action="#" th:action="@{/archive/update}" th:object="${formTodo}" method="post">
		       
		 <!--  hidden field for id -->
	             <input id="editId" type="hidden" th:field="*{id}">
	              
                 <!-- 	for title -->
	               <div class="input-group h-25">
	                    <input id="editTitle" type="text" class="form-control" aria-label="title"
	                        aria-describedby="basic-addon1" th:field="*{title}">
	                </div>
	           
	           
	               <!-- for content -->
	                  
	                 <div class="input-group mb-3">
	                    <textarea id="editText" class="form-control" aria-label="With textarea" th:field="*{text}"></textarea>
	                </div>
	                
	                <!-- button to save content -->
	                <div id="save" class="input-group w-50 mt-2">
	                    <button type="submit" class="btn btn-warning mx-2 mt-2 ">Save Changes</button>
	                </div>
	        </form>
	        
	       </div>
	        
 	  </div>
		
	<!-- 	</div> -->
	   
	   
	    <!-- Optional JavaScript; choose one of the two! -->
	
	    <!-- Option 1: Bootstrap Bundle with Popper -->
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
	        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
	        crossorigin="anonymous"></script>
	
	    <!-- Option 2: Separate Popper and Bootstrap JS -->
	
	    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
	        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
	        crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
	        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
	        crossorigin="anonymous"></script>
	
	</body>

</html>