<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" th:href="@{css/todo.css}">
<script src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
<script type="text/javascript" th:src="@{Javascript/index.js}"></script>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
    integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
    crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
    integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
    crossorigin="anonymous"></script>


<title>Hello, world!</title>
</head>

<body>
<!-- Wrapper class to encapsulte everything -->

	<div class="wrapper">
	
	<!-- Section for sidebar -->
	    <nav id="sidebar">
	        <ul class="list-unstyled components">
	            <li class="active">
	                <a href="#" data-toggle="collapse" aria-expanded="false">Home</a>
	            <li>
	
	            <li>
	                <a href="#">Reminders</a>
	            </li>
	
	            <li>
	                <a href="#" data-toggle="collapse" aria-expanded="false">Edit Labels</a>
	            </li>
	
	            <li>
	                <a href="#" data-toggle="collapse" aria-expanded="false">Archive</a>
	            </li>
	        </ul>
	
	    </nav>
	    
	    <!--Section For other content-->
	
	    <div id="content" class="container-fluid p-0">
	    
	    <!-- Navbar section -->
	        <nav class="navbar navbar-expand-lg navbar-light bg-light">
	            <div class="container-fluid">
	                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
	                            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
	                            aria-expanded="false" aria-label="Toggle navigation" id="sidebarCollapse">
	                            <span class="navbar-toggler-icon"></span>
	                    </button> -->
	                <button type="button" class="btn btn-success mx-2" id="sidebarCollapse">Toggle</button>
	
	                <a class="navbar-brand" href="#">
	                    <img src="images/logo.jpg" alt="" width="40" height="40">
	                </a>
	 
	                     
	             <form class="container-fluid w-50">
	                    <input type="text" class="form-control" placeholder="Search" aria-label="Username"
	                        aria-describedby="basic-addon1">
	              </form>
	
	                <button type="button" class="btn btn-warning mx-2">Dark</button>
	                <a href="#" th:href="@{/login?logout}" class="btn btn-danger mx-2">Logout</a>
	                
	            </div>
	        </nav>
	        
	        <!--form to get new note -->
	        
	        <div id="notesinput" class="container-fluid mt-4">
	           <form action="#" th:action="@{/save}" th:object="${formTodo}" method="post">
	                <div class="input-group mb-3 w-50 m-auto">
	                    <input type="text" class="form-control" placeholder="Title" aria-label="Username"
	                        aria-describedby="basic-addon1" th:field="*{title}">
	                </div>
	
	                <div class="input-group w-50 m-auto mt-0">
	                    <textarea class="form-control" aria-label="With textarea" th:field="*{text}"></textarea>
	                </div>
	
	                <div class="input-group w-50 m-auto my-4">
	                    <button type="submit" class="btn btn-warning mx-2 ">Save note</button>
	                </div>
	
	             </form> 
	        </div>
	           
	           <!-- Note cards -->
	
				<!-- <div class="row mb-2"> -->
				
				
			   <div id="divrow" class="row">
			    <div id="notesdiv" class="col-md-6 ms-4" th:each="todo:${newTodo}">
				<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				  
				  <form action="#" th:action="@{/delete}" th:object="${formTodo}" method="post">
				    <div class="tododiv col p-4 d-flex flex-column position-static">
<!-- 				      <input type="hidden" th:value="${todo.id}" name="todoid">
 -->				      <strong class="d-inline-block mb-2 text-primary" th:text="${todo.title}?:''" ></strong>
				        <p class="card-text mb-auto" th:text="${todo.text}?:''" ></p>
				       <a href="#" th:href="@{/delete}+'/'+'?id='+${todo.id}" type="button" class="btn-image white-text" mdbBtn mdbWavesEffect></a>
				        <!-- <button type="button" class="btn-image white-text" mdbBtn mdbWavesEffect></button> -->
				        <!-- <img src="images/deleteicon.png"></img> -->
				    </div>
				   </form>
				   
				 </div>
				  
				 </div>
				  
		    </div>
					
		</div>
 	  </div>
		
	<!-- 	</div> -->
	
	    <!-- Optional JavaScript; choose one of the two! -->
	
	    <!-- Option 1: Bootstrap Bundle with Popper -->
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
	        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
	        crossorigin="anonymous"></script>
	
	    <!-- Option 2: Separate Popper and Bootstrap JS -->
	
	    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
	        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
	        crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
	        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
	        crossorigin="anonymous"></script>
	
	</body>

</html>